<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../styles/view_styles/view_notepages_styles.css" rel="stylesheet">
	<script src="../../js/view_notepages.js"></script>
    <title>Your Notepages</title>
</head>
<body onload="load()">
    <!-- Header section (top navigation bar) -->
    <header>
        <button id="BookmarkedPagesButton" onclick="window.location.href='view_bookmarked.html'">Bookmarked Pages</button>
        <a href="../homepage.html"><h1>MindNotes</h1></a>
        <button id="LinkedPagesButton" onclick="window.location.href='view_linked.html'">Linked Pages</button>
    </header>

    <!-- Main section of the View Notepages page -->
    <main>
        <h1>Your Notepages</h1>
        <!-- Container for the category dropdown, search input, and search button -->
        <div id="SearchAndFilterContainer">
            <select id="CategorySelect" name="Category">
                <option value="ALL">ALL</option>
            </select>
            <input type="text" id="SearchInput" placeholder="Search..." required>
            <button id="SearchButton">Search</button>
        </div>
        <!-- Container for display the saved notepages -->
        <div id="ViewNotepagesContainer">
        </div>
        <!-- Previous and next buttons for displaying all the saved notepages -->
        <div id="PreviousNextContainer">
            <button id="PreviousPagesButton">Previous</button>
            <button id="NextPagesButton">Next</button>
        </div>
        
    </main>
</body>
</html>
