<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../styles/view_styles/view_linked_styles.css" rel="stylesheet">
	<script src="../../js/view_linked.js"></script>
    <title>Your Linked Notes</title>
</head>
<body onload="load()">
    <!-- Header section (top navigation bar) -->
    <header>
        <a href="../homepage.html"><h1>MindNotes</h1></a>
    </header>
    <main>
        <h1>Your Linked Notes</h1>
        <!-- Container for display the saved notepages -->
        <div id="ViewNotepagesContainer">
			<!-- Sample arrow
             <div class="ArrowContainer">
                <p class="RightArrow">&#8594</p>
             </div>
			-->
        </div>
        <!-- Previous and next buttons for displaying all the saved notepages -->
        <div id="PreviousNextContainer">
            <button id="PreviousPagesButton">Previous</button>
            <button id="NextPagesButton">Next</button>
        </div>
    </main>
</body>
</html>
