<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="../../styles/view_styles/view_notepage_styles.css" rel="stylesheet">
	<script src="../../js/view_notepage.js"></script>
    <!-- Title to be dynamically loaded -->
    <title>Notepage</title>
</head>
<body onload="loadEditor()">
    <!-- Header section (top navigation bar) -->
    <header>
        <button id="ShowControlsButton">Controls</button>
        <a href="../homepage.html"><h1>MindNotes</h1></a>
    </header>
    <!-- Main section of the View Notepage -->
     <main>
        <div id="SidePanel">
            <div class="LabelContainer">
                <h2 id="NotepageNameLabel">Note Page Name</h2>
            </div>
            <div class="LabelContainer">
                <h2 id="ConceptLabel">Main Concept</h2>
            </div>
            <div class="LabelContainer">
                <h2 id="CategoryLabel">Category</h2>
            </div>
            <div class="LabelContainer">
                <h2 id="TotalWordsLabel">Total Words: XXXXXX</h2>
            </div>
            <div id="SidePanelButtonContainer">
                <button id="LinkPageButton">Link to Page</button>
                <button id="BookmarkButton">Bookmark</button>
            </div>
        </div>

        <div id="EditorContainer" >
            <div id="Editor">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong> lacinia elit ipsum,</strong> non tempor tortor facilisis a.
            </div>
        </div>
        
     </main>
     <!-- Create a sample editor to see how it would look on the webpage -->
</body>
</html>
